@font-face {
  font-family: MyWebFont;
  src: url('myfont.woff2') format('woff2'),
       url('myfont.woff') format('woff');
}

h1 {
  font-size: 42px;
  font-family: Verdana, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: teal;
  text-align: center;
  letter-spacing: 14px;
  text-indent: 10%;
  hyphens: auto;
  text-shadow: purple 1px 0 10px;
}
ul {
  font-size: 22px;
  text-align: center;
  font-weight: 200;
  font-style: normal;
  color: rgb(4, 4, 98);
  letter-spacing: auto;
  text-indent: auto;
  hyphens: auto;
}

p {
  font-size: 45;
  font-family: 'MyWebFont', verdana, sans-serif;
  font-weight: 700;
  font-style: italic;
  color: rgb(41, 20, 175);
  text-align: center;
  letter-spacing: 7px;
  text-indent: 10%;
  hyphens: auto;
  text-shadow: purple 1px 0 10px;
}

h4 {
  font-size: 22px;
  font-family: Verdana, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(37, 87, 4);
  text-align:center;
  letter-spacing: 14px;
  text-indent: auto;
  hyphens: auto;
  text-shadow: rgb(235, 25, 6) 1px 0 10px;
}

p {
  font-size: 45;
  font-family: 'MyWebFont', verdana, sans-serif;
  font-weight: 700;
  font-style: italic;
  color: rgb(41, 20, 175);
  text-align: center;
  letter-spacing: 7px;
  text-indent: 10%;
  hyphens: auto;
  text-shadow: purple 1px 0 10px;
}






div.static {
  position: static;
  float: center;
  margin-right: auto;
    margin-left: auto;
  border: 3px solid #73AD21;
  
}

h1 {
    float: inline-start;
    margin-bottom: 25px;
    text-align: left;
    
    
}

  div.ex2 {
    width: 260px;
    height: 150px;
    padding: 25px;
    box-sizing: border-box;
    background-color: rgb(228, 224, 224);
    float: inline-end;
    margin-bottom: -100px;
    margin-top: 2em;
    z-index: 0;
    position: relative;



  }
  aside {
    padding: 0px;
    box-sizing: border-box;
    background-color: #fff;
    position:center;
    top: 0px;
    left: 50;
    right: 50;
    margin-right: 200px;
    margin-left: 200px;
    right: 0;
    width: auto;
    height: auto;
    text-align: center;

  }

  div.relative {
    position: relative;
    width: 300px;
    height: 100px;
    padding: 0px;
    box-sizing: border-box;
    background-color:rgb(223, 213, 213);
    top: 0px;
    left: 50;
    right: 50;
    margin-right: 200px;
    margin-left: 200px;
    right: 0;
    width: 64.5%;
    height: 200px;
    text-align: center;
  }
  


h1 {
    float: inline-start;
    margin-bottom: 25px;
    text-align: left;
    
    
}



  * {
    box-sizing: border-box;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float:right;
    width: 50%;
    padding: 10px;
    margin-top: 20;
    text-align: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
   }


